<p id="notice"><%= notice %></p>

<%= image_tag "rails.png" %>
<%= link_to "Change Picture", edit_contact_picture_path(@contact) %>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @contact.email_address %>
</p>

<p>
  <b>Phone number:</b>
  <%= @contact.phone_number %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
